.chat-bubble {
    padding: 10px;
    background-color: rgb(218, 218, 218);
    width: fit-content;
    min-width: 10%;
    max-width: 350px;
    margin: 5px;
    font-size: 15px;
}

.right {
    border-radius: 10px 0px 10px 10px;
    align-self: self-end;
}

.left {
    border-radius: 0px 10px 10px 10px;
    align-self: self-start;
}

.left .sender {
    text-align: start;
    padding: 2px 2px 5px 0px;
    font-size: 12px;
    font-weight: bold;
}

.time {
    font-size: 10px;
    padding: 2px 0px 2px 2px;
    text-align: end;
}