.fab {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 12px 20px;
    border-radius: 50px;
    border: 2.5px solid #1a1a1a;
    background-color: #1a1a1a;
    color: white;
    font-size: 15px;
}

.fab:hover {
    color: #1a1a1a;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
}