.group-description {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: justify;
    padding: 10px;
    max-width: 65%;
    font-size: 12px;
    background-color: rgba(58, 58, 58, 0.3);
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.group-description p {
    align-self: center;
    margin-bottom: 10px;
    font-weight: 700;
}