.loader-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.loader {
    width: 40px;
    height: 40px;
    border: 6px solid #cccccc;
    border-top: 6px solid #000000;
    border-radius: 100%;
    animation: spin 1s linear infinite;
    margin: 40px auto;
    align-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}